*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: rgb(111, 55, 55);
    z-index: -99999999;
}
.navbar
{
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    align-items: center;
    text-align: center;
}


.container
{
    height: 7rem;
    position: relative !important;
    transition: 0.25s;
}

.logo
{
    padding-left: 3rem;
    position: absolute;
    top: 25%;
    transition: 0.5s;
    /* z-index: 1; */
}

.logo-scroll
{
    top: 12.5%;
    transition: 0.5s;
}

.logo-img
{
    width: 180px;
}


.toogle-button
{
    color: rgb(226, 33, 33) !important;
    float: right;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    display: none;
}

.toogle-button-css
{
    color: rgb(160, 157, 157);
}

.nav-links
{
    float: right;
    width: 50%;
    /* background-color: yellow; */
    position: absolute;
    top: 30%;
    left: 50%;
    transition: 0.5s;
    
}

.nav-links-scroll
{
    top: 12.5%;
    left: 45%;
    transition: 0.5s;
}

.nav-links ul
{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 3rem;
    position: relative;

    letter-spacing: 2px;
    transition: 0.8s;
}

.nav-links ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}

.nav-links ul li
{
    font-size: 20px;
    font-family: sans-serif;
    /* background-color: violet; */
    width: auto;
    padding: 10px;
    border-radius: 5px;
    /* border: yellowgreen; */
    transition: background-color 0.3s;
    
}

.nav-links ul li:hover
{
    background-color: rgb(211, 210, 210);   
}

@media screen and (max-width: 1150px)
{
    .nav-links
    {
    float: right;
    width: 70%;
    /* background-color: yellow; */
    position: absolute;
    top: 30%;
    left: 30%;
    }

    .logo-img
    {
    width: 180px;
    }

    .nav-links ul li
    {
        margin-left: 2rem;
    }

}

.p2
{
    display: none;
}

.p1
    {
        display: block;
    }



.button-scroll
{
    top: 2.5% !important;
    transition: 0.5s;
}


@media screen and (max-width: 970px)
{

    .toogle-button
    {
        display: unset;
        position: fixed;
        top: 5%;
        transition: 0.5s;
        right: 10%;
        cursor: pointer;
    }

    .p1
    {
        display: none;
    }

    .p2
    {
    display: block;
    }


    .nav-links ul
    {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 3rem;
    position: relative;
    }

    .nav-links ul li
    {
    font-size: 20px;
    font-family: sans-serif;
    /* background-color: violet; */
    width: auto;
    padding: 10px;
    border-radius: 5px;
    /* border: yellowgreen; */
    transition: background-color 0.3s;
    
    }
    .nav-links
    {
        position: fixed;
        z-index: -50;
        /* display: none; */
        flex-direction: column;
        float: none;
        left: 0;
        top: 15%;
        background-color: whitesmoke;
        height:30vh !important;
        width: 100% !important;
        justify-content: center;
        transform: translateY(-200%);
    }

    .comp1 p
    {
        font-size: 2.5vw !important;
    }
}

.nav-active1
{
    display: flex;
    transform: translateY(-20%);
    transition: transform 0.5s ease-in;
}

.nav-active2
{
    display: flex;
    transform: translateY(0%);
    transition: transform 0.5s ease-in;
}


.content
{
    /* position: relative; */
    text-align: center;
    /* z-index: -1; */
}

.comp1-large
{
    background-image: url(./img/Rectangle\ 1630.png) !important;
}


.comp1-img
{
    padding-top: 4rem;
    width: 70vw;
}

.comp1
{
    background-image: url(./img/Group\ 7036.png);
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 3rem;
    align-items: center;
    /* position: relative; */
    /* z-index: -5; */
}

.comp1 h3
{
    padding: 0;
    margin: 0px 0px !important;
    letter-spacing: 2px;
    font-size:3.5vw; 
    color: whitesmoke;
    /* width: fit-content; */
}

.comp1 p
{
    color: whitesmoke;
    padding: 2rem 15vw;
    font-size: 1.5vw;
    letter-spacing: 1.2px;
}

.nav-scroll
{
    height: 4rem;
    transition: 0.25s;
}


.comp1-img2
{
    width: 10vw;
    padding: 1rem 5rem;
    /* position: relative;
    z-index: 5555555; */
}

.links a
{
    text-decoration: none;
}