*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: whitesmoke;
    z-index: -99999999;
}
.navbar
{
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    align-items: center;
    text-align: center;
    z-index: 5;
}


.container
{
    height: 7rem;
    position: relative !important;
    transition: 0.25s;
}

.logo
{
    padding-left: 3rem;
    position: absolute;
    top: 25%;
    transition: 0.5s;
    /* z-index: 1; */
}

.logo-scroll
{
    top: 12.5%;
    transition: 0.5s;
}

.logo-img
{
    width: 180px;
}


.toogle-button
{
    color: rgb(226, 33, 33) !important;
    float: right;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    display: none;
}

.toogle-button-css
{
    color: rgb(160, 157, 157);
}

.nav-links
{
    float: right;
    width: 50%;
    /* background-color: yellow; */
    position: absolute;
    top: 30%;
    left: 50%;
    transition: 0.5s;
    
}

.nav-links-scroll
{
    top: 12.5%;
    left: 45%;
    transition: 0.5s;
}

.nav-links ul
{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 3rem;
    position: relative;

    letter-spacing: 2px;
    transition: 0.8s;
}

.nav-links ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}

.nav-links ul li
{
    font-size: 20px;
    font-family: sans-serif;
    /* background-color: violet; */
    width: auto;
    padding: 10px;
    border-radius: 5px;
    /* border: yellowgreen; */
    transition: background-color 0.3s;
    
}

.nav-links ul li:hover
{
    background-color: rgb(211, 210, 210);   
}

@media screen and (max-width: 1150px)
{
    .nav-links
    {
    float: right;
    width: 70%;
    /* background-color: yellow; */
    position: absolute;
    top: 30%;
    left: 30%;
    }

    .logo-img
    {
    width: 180px;
    }

    .nav-links ul li
    {
        margin-left: 2rem;
    }

}

.p2
{
    display: none;
}

.p1
    {
        display: block;
    }



.button-scroll
{
    top: 2.5% !important;
    transition: 0.5s;
}





@media screen and (max-width: 970px)
{

    .toogle-button
    {
        display: unset;
        position: fixed;
        top: 5%;
        transition: 0.5s;
        right: 10%;
        cursor: pointer;
    }

    .p1
    {
        display: none;
    }

    .p2
    {
    display: block;
    }


    .nav-links ul
    {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 3rem;
    position: relative;
    }

    .nav-links ul li
    {
    font-size: 20px;
    font-family: sans-serif;
    /* background-color: violet; */
    width: auto;
    padding: 10px;
    border-radius: 5px;
    /* border: yellowgreen; */
    transition: background-color 0.3s;
    
    }
    .nav-links
    {
        position: fixed;
        z-index: -50;
        /* display: none; */
        flex-direction: column;
        float: none;
        left: 0;
        top: 15%;
        background-color: whitesmoke;
        height:30vh !important;
        width: 100% !important;
        justify-content: center;
        transform: translateY(-200%);
    }

    .comp1 p
    {
        font-size: 2.5vw !important;
    }
}

.nav-active1
{
    display: flex;
    transform: translateY(-22%);
    transition: transform 0.5s ease-in;
}

.nav-active2
{
    display: flex;
    transform: translateY(-1%);
    transition: transform 0.5s ease-in;
}


.content
{
    /* position: relative; */
    text-align: center;
    /* z-index: -1; */
}

.comp1-large
{
    background-image: url(./img/Rectangle\ 1630.png) !important;
}


.comp1-img
{
    padding-top: 4rem;
    width: 70vw;
}

.comp1
{
    background-image: url(./img/Group\ 7036.png);
    /* height: 100vh; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 3rem;
    align-items: center;
    /* position: relative; */
    /* z-index: -5; */
}

.comp1 h3
{
    padding: 0;
    margin: 0px 0px !important;
    letter-spacing: 2px;
    font-size:3.5vw; 
    color: whitesmoke;
    /* width: fit-content; */
    transition: 0.6s;
}



.comp1 p
{
    color: whitesmoke;
    padding: 2rem 15vw;
    font-size: 1.5vw;
    letter-spacing: 1.2px;
}

.nav-scroll
{
    height: 4rem;
    transition: 0.25s;
}


.comp1-img2
{
    width: 10vw;
    padding: 1rem 5rem;
    /* position: relative;
    z-index: 5555555; */
}

.links a
{
    text-decoration: none;
}

.comp1-link
{
    width: 40vw !important;
}

.comp2-small
{
    margin-top: 4rem; 
    display: none;
}



.par
{
    margin-top: 1rem; 
    font-family: 'Roboto', sans-serif; 
    padding: 0 2rem;
    padding-bottom: 2.5rem;
    font-size: 12px;
    align-items: center;
}

.comp2-small h4
{
    font-family: 'Roboto', sans-serif; 
    background-color: #4074EA;
    border-style: solid;
    width: 30%;
    margin: auto;
    color: whitesmoke;
    margin-bottom: 3rem;
    border-radius: 35px;
    padding: 5px;
    border-width: 0;
}

.comp2-small h5
{
    font-family: 'Roboto', sans-serif; 
    background-color: #ffffff;
    border-style: solid;
    width: 40%;
    font-size: 18px;
    margin: auto;
    color: rgb(0, 0, 0);
    margin-bottom: 3rem;
    border-radius: 35px;
    padding: 5px;
    border-width: 2px;
}



/* slideshow  */

.carousel {
    position: relative;
  }
  .carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none;
    }
  }
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: block;
  }
  .active.carousel-item-right,
  .carousel-item-next:not(.carousel-item-left) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .active.carousel-item-left,
  .carousel-item-prev:not(.carousel-item-right) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none;
  }
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right,
  .carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1;
  }
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    transition: 0s 0.6s opacity;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
      transition: none;
    }
  }
  .carousel-control-next,
  .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-next,
    .carousel-control-prev {
      transition: none;
    }
  }
  .carousel-control-next:focus,
  .carousel-control-next:hover,
  .carousel-control-prev:focus,
  .carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }
  .carousel-control-prev {
    left: 0;
  }
  .carousel-control-next {
    right: 0;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
    background-color: rgb(0, 0, 0);
  }
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
  }
  .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-indicators li {
      transition: none;
    }
  }
  .carousel-indicators .active {
    opacity: 1;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .custom-range::-moz-focus-outer {
    border: 0;
  }
  .custom-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    background-color: #007bff;
    border: 0;
    border-radius: 1rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
  }
  @media (prefers-reduced-motion: reduce) {
    .custom-range::-webkit-slider-thumb {
      transition: none;
    }
  }
  .custom-range::-webkit-slider-thumb:active {
    background-color: #b3d7ff;
  }
  .custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #dee2e6;
    border-color: transparent;
    border-radius: 1rem;
  }


  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .sr-only-focusable:active,
  .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }


  /* slideshow end  */



  .card {
    position: relative;
    display: -ms-flexbox;
    width: 30vw;
    height: 25vh;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #4074EA;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 1.5rem;
    margin: auto;
    align-items: center;
  }


  .card-head
  {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 3vw;
    width: 85%;
    font-weight: 900;
    padding: 01rem 0.5rem;
  }

  .card-body
  {
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 10px;
    margin: 0em;
    width: 90%;
    /* padding-bottom: 0.5rem; */
  }

  .card-container
  {
      display: flex;
      flex-direction: row;
      margin: 5rem 0;
      margin-bottom: 0;
      position: relative;
  }

  .decoration1
  {
      width: 30%;
      float: right;
  }

  .magdoc
  {
      margin-top: 4rem;
      background-color: yellow;
      text-align: start;
      background-image: url(./img/Group\ 7036.png);
  }
  .magdoc h3
  {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 4vw;
    padding: 2rem 1.5rem;
  }

  .para-body
  {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 2vw;
    padding: 0rem 1.5rem;
    width: 40%;
    padding-bottom: 3rem;
  }

  .magdoc i
  {
    padding: 2rem 1.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    color: whitesmoke;
    font-size: 5vw;
    align-items: center;
    text-align: center;
  }
  
  .para-points
  {
    font-size: 2.5vw;
    font-weight: 600;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    align-items: center;
    text-align: center;
  }

  .phone-img
  {
    width: 50%;
    float: right;
    margin-top:-41% ;
  }

  .phone-img2
  {
      /* margin-top: 4rem; */
      float: left;
      padding-left: 1rem;
      margin-top: -50%;
      width: 60vw;
  }

  .comp3
  {
      display: inline-flex;
      margin-top: 4rem;
  }
  .phone-img2-head
  {
      margin-top: 1.5rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      padding-bottom: 2rem;
      font-size: 3.5vw !important;
  }

  .comp3-text
  {
    text-align: start;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
  }

  .phone-img2-body
  {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-bottom: 2rem;
    font-size: 2vw !important;
    font-weight: 100;
  }

  .point-body
  {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .comp4
  {
      text-align: start;
      padding-left: 2rem;
      background-image: url(./img/Group\ 7036.png);
  }

  .comp4 p
  {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 2.25vw;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .comp4-head
  {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 4vw;
    width: 40%;
  }

  .sofa
  {
      margin-top: -18%;
      padding-bottom: 2rem;
  }

  .know-more
  {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-size: 4vw;
    font-size: 2vw;
    border-style: solid;
    width: fit-content;
    padding: 8px 8px;
    border-radius: 10px;
    border-width: 1.5px;
  }

  .review
  {
      margin-top: 4rem;
      text-align: center;
  }

  .review h3
  {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    padding-bottom: 1rem;
  }

  .review p
  {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5vw;
    padding: 0rem 3rem;
  }

  .customers
  {
      padding: 2rem 0rem;
      display: inline-flex;
  }

  .customer
  {
    margin: 0rem 0.7rem;
    width: 10vh;
    height: 18vh;
    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }

  .customer p
  {
      font-size: 1.5vw;
      width: 100%;
      padding: 0;
      margin: 0;
  }

  .customer h3
  {
      padding: 0;
      font-size: 2.5vw;
  }





 .container-large
 {
     text-align: center;
     margin-top: 4rem;
     align-content: center;
     text-align: center;
 }

 .container-large h3
 {
     font-size: 3vw;
     font-family: 'Roboto', sans-serif;
 }

 .container-large h4
 {
     margin-top: 1.5rem;
     font-size: 2vw;
     font-family: 'Roboto', sans-serif;
 }

 .container-large p
 {
     margin-top: 1.5rem;
     font-size: 1.3vw;
     font-family: 'Roboto', sans-serif;
     padding: 0 12rem;
 }

 .clickhere
 {
     border-style: solid;
     width: fit-content;
     margin: auto;
     margin-top: 3rem;
     font-size: 1.5vw;
     font-family: 'Roboto', sans-serif;
     background-color: #4074EA;
     color: whitesmoke;
     padding: 0.5rem 1.5rem;
     border-radius: 10px;
     text-decoration: none;
 
 }

 .img-translate
 {
     margin: 2rem;
     width: 55%;
     padding-right: 9rem;
 }

 .img-voice
 {
    margin: 2rem;
    width: 55%;
    padding-left: 12rem;
 }

 .img-language
 {
    margin: 2rem;
    width: 55%;
 }
















  @media screen and (max-width: 680px)
{
    .comp2-small
    {
        display: block;
    }

    .comp2-large
    {
        display: none;
    }

    .p2
    {
        display: block;
    }

    .p1
    {
        display: none;
    }
}
